# Python
__pycache__/
*.py[cod]
*$py.class

# External Repositories (References)
wallpaper_C++/
wallpaper_go/
linux-wallpaperengine-gui/
wallpaper-engine-kde-plugin/

# Backup/Temp files
*.bak
prompt.md
development-log-*.md
wallpaperengine's-README.md
screen*.png

# IDEs
.vscode/
.idea/

.sisyphus/
.opencode/
scripts/

issues/
tools/
docs/reference_doc/


AppDir
*.AppImage
*deploy*
runtime-x86_64
requirements.txt

packages.md

*.tar.gz
*.tar.zst

src/
build/
dist/
*.egg-info/

build_appimage.sh
PKGBUILD
*.toml