name: Auto Draft Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Draft
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true # 【关键】设为草稿状态，等你手动传完文件后再发布